<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title>Redirect Destination Info</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta name="description" content="Telling you where that URL really goes" />
</head>

<body>
    
<h2>Redirect Destination Info</h2> <br /> 

Telling you where that URL really goes. <br /><br />

Input a URL into the service using the instructions below <br />
and you'll be returned the destination it finally arrives at. <br /><br />

If a URL redirects more than five time an error will be reported back. <br />
Do you really want to follow a URL that redirects more than five times?  <br /><br />

To check a url: <br />
Type this into your browser address bar:  <br />
www.redirectdestination.info/info?url=[ url to check goes here ]  <br /><br />

An example:
<a href="http://www.redirectdestination.info/info?url=www.google.com">
www.redirectdestination.info/info?url=www.google.com</a>

<br /><br />

Please note this is an MVP: minimally viable product. <br />
This means it is a work in progress and will be evolving over time to include more features. <br />
Have patience, as occasional things might break. <br /><br />

Brought to you by <a href="http://www.programmersparadox.com">Programmer's Paradox</a>. <br /><br />

</body>
</html>